<div class="comment-section">
    {{#each this}}
    <section class="comment">
        <div class="comment-text">
            {{comment_text}}
        </div>
        <div>
            by {{user.username}} on {{format_date created_at}}
        </div>
    </section>
    {{/each}}
</div>