<section>
    <h2>Create New Post</h2>

    <form id="new-form" class=" margin-10 new-post-form">
        <div id="new-title">
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div id="new-text" class="margin-10">
            <label for="post-text">Text</label>
            <input id="post-text" name="post-text" />
        </div>
        <button type="submit" class="black-button">Create</button>
    </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>