{{> post-info post }}

{{#if loggedIn}}
<form class="comment-form margin-10">
  <div>
    <textarea name="comment-body"></textarea>
  </div>
  <div>
    <button class="black-button" type="submit">add comment</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}